* {
    padding: 2.3px;
    margin: 0;
    font-family: sans-serif;
}

/* for nav bar */

.logo img{
    width: 172px;
    height: 55px;
}
.body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 305px;
}
ul li{
    list-style: none;
    margin: 15px;
    padding: 12px;
    font-weight: 100;
    font-size: 15px;
}
.items ul{
    display: flex;
}
.items{
    display: flex;
    justify-content: space-around;
}

/* for header */

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin: 70px;
    font-family: sans-serif;
}
.hero span{
    font-size: 48px;

}
.hero span img{
    margin: 0 23px;
}

.middle{
    font-size: 24px;
    width: 67vw;
    text-align: center;
}
.hero button{
    background: #00b6d1;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-left-width: 0px;
    padding: 13px 30px;
    color: white;
    border-radius: 7px;
    font-size: 16px;
    font-weight: 700;
    margin-top: -10px;
}

/* header second part */

.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: sans-serif;
    margin-left: 170px;
    margin-top: -15px;
}
.second img{
    width: 116px;
}
.sec{
    font-weight: 500;
    font-size: 24px;
}
.flex span{
    font-size: 87%;
}