* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: #fff;
} 

.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    padding: 30px 50px;
}
h1{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
}
.part2{
    display: flex;
    gap: 40px;
}

#box1{
    width: 250px;
    height: 250px;
    background-color: crimson;
    margin-top: 350px;
}
#box2{
    width: 220px;
    height: 220px;
    background-color: lightseagreen;
}
#box3{
    width: 210px;
    height: 210px;
    background-color: crimson;
    margin-top: 30px;
}
#box4{
    width: 210px;
    height: 210px;
    background-color: lightseagreen;
}
#box5{
    width: 210px;
    height: 210px;
    background-color: royalblue;
}


